body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  color: #333;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  margin: 20px;
}

.page-content { 
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 80px;
}

.container {
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-bottom: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 20px;
  radius: 15px;
}

.followup-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 40px);
  max-width: 400px;
}

.button {
  display: block; 
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #ea002a;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid transparent; 
}

.button:nth-of-type(2) {
  background-color: white;
  border-color: #ea002a;
  color: #ea002a;
}
